{% extends 'base/base.html' %}
{% load static %}

{% block title_text %}Registration Base{% endblock %}
{% block style %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock style %}
{% block content_body %}
<body>
    <div class="full-screen-container">
      <div class="login-container">
        <h3 class="login-title">Welcome</h3>
          <form class="col my-auto p-3" method="POST" accept-charset="UTF-8">
            {% csrf_token %}
          <div class="input-group">
            <label>Email</label>
                {% include 'snippets/input_field.html' with form=form formfld=form.username  %}
          </div>
          <div class="input-group">
            <label>Password</label>
                {% include 'snippets/passwd_field.html' with form=form formfld=form.password %}
          </div>
          <button type="submit" class="login-button">Sign In</button>
        </form>
      </div>
    </div>
  </body>


{% endblock %}