[Unit]
Description=Schedule_Maker-uWSGI-instance
After=network.target postgresql-11.service

[Service]
User=centos
Group=nginx
WorkingDirectory=/opt/Schedule_Maker
Environment="PATH=/opt/Schedule_Maker/venv/bin"
ExecStart=/opt/Schedule_Maker/venv/bin/uwsgi --ini /opt/Schedule_Maker/uwsgi/uwsgi.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
