{% extends 'drop_calendar/base.html' %}
{% load static %}
{% block title %}
    DK
{% endblock title %}


{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile row">
            <div class="col-md-3">
                <div id="external-events">
                    <h4 class="mb-4">Draggable Events</h4>

                    <div class="fc-event">{{ event_data|safe }}</div>
                    <p class="animated-checkbox mt-20">
                        <label>
                            <input id="drop-remove" type="checkbox"><span class="label-text">Remove after drop</span>
                        </label>
                    </p>
                </div>
            </div>
            <div class="col-md-9">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block extra_ja %}
<script src="{% static 'drop_calendar/js/coustom.js' %}"></script>
<script>
  $('#calendar').fullCalendar({
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,agendaDay'
    },
      navLinks: true,
      selectable: true,
      selectMirror: true,
      editable: true,
      droppable: true,

      eventClick: function(arg) {
            if (confirm('Are you sure you want to delete this event?')) {
              arg.event.remove()
            }
          },
      events: {{ event_data|safe }}
 });

 document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var today = new Date();

        var calendar = new FullCalendar.Calendar(calendarEl, {
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,list'
          },
          initialDate: today,
          navLinks: true, // can click day/week names to navigate views
          selectable: true,
          selectMirror: true,
          select: function(arg) {
            calendar.unselect()
          },
          // THIS KEY WON'T WORK IN PRODUCTION!!!
          // To make your own Google API key, follow the directions here:
          // http://fullcalendar.io/docs/google_calendar/
          // googleCalendarApiKey: 'AIzaSyCqCxjjLtjbtkX37aOtWB8OfwBLy_6QuYk',

          // bangladesh Holidays
          // events: 'bn.bd#holiday@group.v.calendar.google.com',
          eventClick: function(arg) {
            if (confirm('Are you sure you want to delete this event?')) {
              arg.event.remove()
            }
          },
          editable: true,
          dayMaxEvents: true, // allow "more" link when too many events
          events: {{ event_data|safe }},
        });

        calendar.render();
      });

</script>
{% endblock %}



