{% extends 'drop_calendar/base.html' %}
{% load static %}
{% block title %}
{% load crispy_forms_tags %}
DK
{% endblock title %}
{% block style %}
<link href="{% static 'drop_calendar/css/index.css' %}" rel="stylesheet"/>
<style>
    .font_size {
    font-size: 100px;
}
.remove_underline {
    text-decoration: none !important;
}
</style>
{% endblock style %}


{% block content %}
<div class="row">

        <div class="col-md-4">
             <a href="{% url 'drop_calendar:calender_view' %}" class="remove_underline">
                 <div class="tile">
            <h3 class="tile-title">General Schedule</h3>
                     <i class="fa fa-calendar font_size"></i>

        </div>
             </a>
        </div>


    <div class="col-md-4">
        <a href="{% url 'drop_calendar:class_schedule' %}" class="remove_underline">
        <div class="tile">
            <h3 class="tile-title">Class Schedule</h3>
              <i class="fa fa-calendar font_size"></i>

        </div>
        </a>
    </div>


    <div class="col-md-4">
        <div class="tile">
            <h3 class="tile-title">Schedule Type</h3>
            <i class="fa fa-adjust font_size"></i>

        </div>
    </div>

    <div class="col-md-4">
        <a href="{% url 'drop_calendar:event_view' %}" class="remove_underline">
        <div class="tile">
            <h3 class="tile-title">View General Schedule</h3>
                <i class="fa fa-eye font_size"></i>
        </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="{% url 'drop_calendar:class_calender_list' %}" class="remove_underline">
            <div class="tile">
                <h3 class="tile-title">View Class Schedule</h3>
                 <i class="fa fa-eye font_size"></i>


            </div>

        </a>
    </div>

    <div class="col-md-4">
        <div class="tile">
            <h3 class="tile-title">Last Schedule List</h3>
            <i class="fa fa-hourglass-half font_size"></i>
        </div>
    </div>
</div>

    {% endblock %}


    {% block extra_ja %}
    {% endblock %}



