{% extends 'drop_calendar/base.html' %}
{% load static %}
{% block title %}
{% load crispy_forms_tags %}
    DK
{% endblock title %}
{% block style %}
  <link href="{% static 'drop_calendar/calender/main.css' %}" rel="stylesheet" />
  <link href="{% static 'drop_calendar/jquery.datetimepicker.min.css' %}" rel="stylesheet" />

<style>
    .bootstrap-datetimepicker-widget table td a[data-action="close"]>span:hover {
  /* Set her your custom color */
  background-color: #337ab7;
  color: #fff;
}
.xdsoft_calendar {
    background: #d82121;
}
span.asteriskField {
    color: #f00;
    font-size: 17px;
}
</style>

{% endblock style %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="#">General Schedule Update</a></li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile row">
            <div class="col-md-3">
                <div id="external-events">
                    <h4 class="mb-4">Draggable Events</h4>
                    {% for dbj in event %}

                    <div class="fc-event">
                        Subject:  {{ dbj.name }} <br>
                        Start Date :{{ dbj.start_date|date:"M d, Y " }}<br>
                        End Date :{{ dbj.end_date|date:"M d, Y " }}
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="col-md-9">
                <div id="calendar"></div>
            </div>




            <div class="modal fade show" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h5 class="modal-title text-white" id="exampleModalLongTitle">Add New Class/Event</h5>
                            <button id="modalClose1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="modal-body">
                                {{ form|crispy }}
                            </div>
                            <div class="modal-footer">
                                <a id="modalClose2" href="{% url 'drop_calendar:calender_view' %}" type="button" class="btn btn-danger">Cancel</a>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>



        </div>



        </div>
    </div>
</div>
{% endblock %}


{% block extra_ja %}
<script src="{% static 'drop_calendar/calender/main.js' %}"></script>
<script src="{% static 'drop_calendar/jquery-ui.min.js' %}"></script>
<script src="{% static 'drop_calendar/jquery.datetimepicker.full.min.js' %}"></script>
<script src="{% static 'drop_calendar/custom.js' %}"></script>
<script>


function getEventDeleteUrl(pk){
    $("#id_event_delete").attr("href", '');
    var url ="{% url 'drop_calendar:event_delete' %}?";
        url = url+"&pk="+pk;
        $("#id_event_delete").attr("href", url);
}
$("#eventModal").css("display","block");
</script>

<script>
       document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var today = new Date();

        var formatDate = function(date) {
           return date.getDate() + "-"
           + date.getMonth() + "-"
           + date.getFullYear() + " "
           +  ('0' + date.getHours()).slice(-2)
           + ":" + ('0' + date.getMinutes()).slice(-2)
           + ":" + ('0' + date.getSeconds()).slice(-2)
           + ' ' + (date.getHours() < 12 ? 'AM' : 'PM');
         }


        var calendar = new FullCalendar.Calendar(calendarEl, {
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,list'
          },
          initialDate: today,

          navLinks: true, // can click day/week names to navigate views
          selectable: true,
          selectMirror: true,
          select: function(arg) {
            console.log('clicked')
            var modal = document.getElementById('eventModal')
            modal.style.display = 'block'
            calendar.unselect()
          },


          eventClick: function(info) {
            console.log('clicked DeleteEventModal')
            var modal = document.getElementById('DeleteEventModal')
            $("#event_id_name").text(info.event.title)
            $("#event_id_start").text(formatDate(info.event.start))
            $("#event_id_end").text(formatDate(info.event.end))

            getEventDeleteUrl(info.event.id)
            getEventUpdateUrl(info.event.id)
            modal.style.display = 'block'
            calendar.unselect()

          },

          editable: true,
          dayMaxEvents: true, // allow "more" link when too many events
          events: {{ event_data|safe }},
        });

        calendar.render();
      });

</script>
{% endblock %}



