{% extends 'drop_calendar/base.html' %}
{% load static %}
{% block title %}
{% load crispy_forms_tags %}
    DK
{% endblock title %}
{% block style %}
<!--  <link href="{% static 'drop_calendar/calender/main.css' %}" rel="stylesheet" />-->
<!--  <link href="{% static 'drop_calendar/jquery.datetimepicker.min.css' %}" rel="stylesheet" />-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.js"></script>



<style>
    .bootstrap-datetimepicker-widget table td a[data-action="close"]>span:hover {
  /* Set her your custom color */
  background-color: #337ab7;
  color: #fff;
}
.xdsoft_calendar {
    background: #12ff24;
}
span.asteriskField {
    color: #f00;
    font-size: 17px;
}
.xdsoft_datetimepicker.xdsoft_noselect.xdsoft_ {
    left: 46% !important;
    background: #00968852;
}

.xdsoft_datetimepicker .xdsoft_calendar td, .xdsoft_datetimepicker .xdsoft_calendar th {
    background: #00ccb9 !important;
    color: #000000 !important;
}
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div {
    background: #00ccb9 !important;
    color: #000000 !important;
}
</style>

{% endblock style %}


{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile row">
            <div class="col-md-3">
                <div id="external-events">
                    <h4 class="mb-4">Today's Events</h4>
                    {% for dbj in event %}

                    <div class="fc-event">
                        Subject:  {{ dbj.name }} <br>
                        Start Date :{{ dbj.start_date|date:"M d, Y " }}<br>
                        End Date :{{ dbj.end_date|date:"M d, Y " }}
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="col-md-9">
                <div id="calendar"></div>
            </div>




            <div class="modal fade show" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h5 class="modal-title text-white" id="exampleModalLongTitle">Add New Class/Event</h5>
                            <button id="modalClose1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="modal-body">
                                {{ form|crispy }}
                            </div>
                            <div class="modal-footer">
                                <button id="modalClose2" type="button" class="btn btn-danger">Close</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

<!--            delete Modal-->

            <div class="modal fade show" id="DeleteEventModal" tabindex="-1" role="dialog" aria-labelledby="DeleteEventModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h5 class="modal-title text-white" id="DeleteEventModalLongTitle">DELETE SUBJECT OR EVENT</h5>
                            <button id="DeleteEventModalClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                            <div class="modal-body">
                                <h2>Event : <span id="event_id_name"></span></h2>
                                <p>Start Date : <span id="event_id_start"></span></p>
                                <p>End Date : <span id="event_id_end"></span></p>

                            </div>
                            <div class="modal-footer">
                                <a id="id_event_edit" type="button" href="#" class="btn btn-primary">Edit Event</a>
                                <a id="id_event_delete"  href="#" type="button" class="btn btn-danger">Delete Event</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>



        </div>
    </div>
</div>
{% endblock %}


{% block extra_ja %}
<script src="{% static 'drop_calendar/calender/main.js' %}"></script>
<script src="{% static 'drop_calendar/jquery-ui.min.js' %}"></script>
<script src="{% static 'drop_calendar/jquery.datetimepicker.full.min.js' %}"></script>
<script src="{% static 'drop_calendar/custom.js' %}"></script>

<script>
    //Event Delete URl
function getEventUpdateUrl(pk){
    $("#id_event_edit").attr("href", '');
    var url ="{% url 'drop_calendar:event_update' pk=0 %}".replace(/0/, pk.toString());
        $("#id_event_edit").attr("href", url);
}

function getEventDeleteUrl(pk){
    $("#id_event_delete").attr("href", '');
    var url ="{% url 'drop_calendar:event_delete' %}?";
        url = url+"&pk="+pk;
        $("#id_event_delete").attr("href", url);
}

</script>

<script>
        $('#calendar').fullCalendar({
            header: {
                left: '',
                center: '',
                right: '',
            },
            editable: true,
            views: {
                settimana: {
                    type: 'agendaWeek',
                    duration: {
                        days: 7
                    },
                    title: 'Apertura',
                    columnFormat: 'dddd', // Format the day to only show like 'Monday'
                    hiddenDays: [0, 6] // Hide Sunday and Saturday?
                }
            },
            defaultView: 'settimana',
        });


</script>
{% endblock %}



