{% extends 'drop_calendar/base.html' %}
{% load static %}
{% block title %}
{% load crispy_forms_tags %}
    DK
{% endblock title %}
{% block style %}
  <link href="{% static 'drop_calendar/calender/main.css' %}" rel="stylesheet" />
  <link href="{% static 'drop_calendar/jquery.datetimepicker.min.css' %}" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js"></script>


<style>
    .bootstrap-datetimepicker-widget table td a[data-action="close"]>span:hover {
  /* Set her your custom color */
  background-color: #337ab7;
  color: #fff;
}
.xdsoft_calendar {
    background: #12ff24;
}
span.asteriskField {
    color: #f00;
    font-size: 17px;
}
.xdsoft_datetimepicker.xdsoft_noselect.xdsoft_ {
    left: 46% !important;
    background: #00968852;
}

.xdsoft_datetimepicker .xdsoft_calendar td, .xdsoft_datetimepicker .xdsoft_calendar th {
    background: #00ccb9 !important;
    color: #000000 !important;
}
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div {
    background: #00ccb9 !important;
    color: #000000 !important;
}
</style>

{% endblock style %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="#">Class Schedule View Update</a></li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile row">
            <div class="col-md-3">
                <div id="external-events">
                    <div id="editor"></div>
                   <h4 class="mb-4">Schedule Class : {% if schedule_class %} {{  schedule_class }} {% endif %}
                        {% if class_sanction %} ( {{ class_sanction }} ) {% endif %}

                    </h4>
                    {% for dbj in event %}

                    <div class="fc-event">
                        Subject:  {{ dbj.name }} <br>
                        Start Date :{{ dbj.start_date|date:"M d, Y " }}<br>
                        End Date :{{ dbj.end_date|date:"M d, Y " }}
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="col-md-9" id="component1">
                <div id="calendar"></div>
            </div>




            <div class="modal fade show" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h5 class="modal-title text-white" id="exampleModalLongTitle">Add New Class/Event</h5>
                            <button id="modalClose1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="modal-body">
                                {{ form|crispy }}
                            </div>
                            <div class="modal-footer">
                                <button id="modalClose2" type="button" class="btn btn-danger">Close</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

<!--            delete Modal-->

            <div class="modal fade show" id="DeleteEventModal" tabindex="-1" role="dialog" aria-labelledby="DeleteEventModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h5 class="modal-title text-white" id="DeleteEventModalLongTitle">SUBJECT OR EVENT DETAILS</h5>
                            <button id="DeleteEventModalClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                            <div class="modal-body">
                                <h2>Subject : <span id="event_id_name"></span></h2>
                                <p>Start Date : <span id="event_id_start"></span></p>
                                <p>End Date : <span id="event_id_end"></span></p>

                            </div>
                            <div class="modal-footer">
                                <a id="id_event_edit" type="button" href="#" class="btn btn-primary">Edit Event</a>
                                <a id="id_event_delete"  href="#" type="button" class="btn btn-danger">Delete Event</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>



        </div>
    </div>
</div>
{% endblock %}


{% block extra_ja %}
<script src="{% static 'drop_calendar/calender/main.js' %}"></script>
<script src="{% static 'drop_calendar/jquery-ui.min.js' %}"></script>
<script src="{% static 'drop_calendar/jquery.datetimepicker.full.min.js' %}"></script>
<script src="{% static 'drop_calendar/custom.js' %}"></script>

<script>
    //Event Delete URl
function getEventUpdateUrl(pk){
    $("#id_event_edit").attr("href", '');
    var url ="{% url 'drop_calendar:class_schedule_update' pk=0 %}".replace(/0/, pk.toString());
        $("#id_event_edit").attr("href", url);
}

function getEventDeleteUrl(pk){
    $("#id_event_delete").attr("href", '');
    var url ="{% url 'drop_calendar:class_sanction_event_delete' %}?";
        url = url+"&pk="+pk;
        $("#id_event_delete").attr("href", url);
}



function getDownloadUrl(){
    alert("clicked");
    window.print();

}

</script>

<script>
       document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var today = new Date("{{ load_date }}");
        console.log(today);



        var calendar = new FullCalendar.Calendar(calendarEl, {
          headerToolbar: {
            left: 'prev,next today downloadBTN',
            center: 'title',
            right: 'timeGridWeek,list'
          },
          initialDate: today,
          initialView: 'timeGridWeek',
          selectable: true,
          selectMirror: true,
          eventMaxStack: true,
          customButtons: {
            downloadBTN: {
              text: 'Download',
              click: function() {
                getDownloadUrl();
              }
            }
          },

          views: {
             timeGridWeek: {
             dayHeaderFormat: { weekday: 'long' },
             }
          },
          dateClick: function(info) {
          var modal = document.getElementById('eventModal')
            modal.style.display = 'block'
            start_date_input = moment(info.dateStr).format('YYYY-MM-DD HH:mm');
            end_date_input = moment(info.dateStr).add(60, 'minutes').format('YYYY-MM-DD HH:mm');
            $("#id_start_date").val(start_date_input)
            $("#id_end_date").val(end_date_input)
            calendar.unselect()
            console.log(info.dateStr)
          },
          eventClick: function(info) {
            var modal = document.getElementById('DeleteEventModal')
            getEventDeleteUrl(info.event.id)
            getEventUpdateUrl(info.event.id)
            modal.style.display = 'block'
            calendar.unselect()
            $("#event_id_name").text(info.event.title)
            $("#event_id_start").text(moment(info.event.start).format('h:mm:ss'))
            $("#event_id_end").text(moment(info.event.end).format('h:mm:ss'))
          },

          editable: true,
          dayMaxEvents: true, // allow "more" link when too many events
          events: {{ event_data|safe }},
        });

        calendar.render();
      });
      const closeBtn1 = document.getElementById('modalClose1');
      const closeBtn2 = document.getElementById('modalClose2');
      closeBtn1.addEventListener('click',()=>{
        const eventModal = document.getElementById('eventModal')
        eventModal.style.display = 'none';
      });
      closeBtn2.addEventListener('click',()=>{
        const eventModal = document.getElementById('eventModal')
        eventModal.style.display = 'none';
      });





</script>
<script>

</script>
{% endblock %}



