{% extends 'drop_calendar/base.html' %}
{% load static %}
{% block title %}
{% load crispy_forms_tags %}
DK
{% endblock title %}


{% block style %}
<link href="{% static 'drop_calendar/calender/main.css' %}" rel="stylesheet"/>
<link href="{% static 'drop_calendar/jquery.datetimepicker.min.css' %}" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.1/moment.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock style %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="#">Class Schedule List</a></li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile row">
            <div class="col-md-3">
                <div id="external-events">
                    <h4 class="mb-4">Events Filter</h4>
                    <form id="filter_form" enctype="multipart/form-data" class="form-register" method="POST" accept-charset="UTF-8" data-class-schedule-url={% url 'drop_calendar:load_data_class_calender' %}>
                        <div class="fc-event">
                            {{ filter.schedule_class }}
                        </div>
                        <div class="fc-event">
                            {{ filter.class_sanction }}
                        </div>
                    </form>

                </div>
            </div>
            <div class="col-md-9">
                <div class="tile">
                    <h3 class="tile-title">Class Schedule List</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Class</th>
                            <th>Sanction</th>
                            <th>Event Type</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody id="load_list">
                        {% for object in object_list %}
                        <tr>
                            <td>1</td>
                            <td>{{object.schedule_class}}</td>
                            <td>{{object.class_sanction}}</td>
                            <td>{{object.event_type}}</td>
                            <td>
                                <a class="btn btn-info"
                                   href="{% url 'drop_calendar:class_schedule_view' pk=object.pk %}">
                                    <i class="fa fa-eye"></i>
                                </a>

                        </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                </div>

                <div class="margin-auto">
                 <img class="search_image" src="{% static 'drop_calendar/images/search.png' %}" >
                 </div>
            </div>


        </div>


    </div>
</div>
</div>
{% endblock %}


{% block extra_ja %}
<script>
function LoadAjax(){
    var url = $("#filter_form").attr("data-class-schedule-url");
    var schedule_classID = $("#schedule_class").val();
    var class_sanctionID = $("#class_sanction").val();
    $.ajax({
        url: url,
        data: {
        'schedule_class': schedule_classID,
        'class_sanction': class_sanctionID,
        },
        success: function (data) {
        $("#load_list").html(data);
        }
    });
}


$("#schedule_class").change(function (){
    LoadAjax();
});
$("#class_sanction").change(function (){
    LoadAjax();
});
</script>
{% endblock %}



