{% load static %}

<!--    &lt;!&ndash; Essential javascripts for application to work&ndash;&gt;-->
<!--    <script src="{% static 'drop_calendar/js/jquery-3.3.1.min.js' %}"></script>-->
<!--    <script src="{% static 'drop_calendar/js/popper.min.js' %}"></script>-->
<!--    <script src="{% static 'drop_calendar/js/bootstrap.min.js' %}"></script>-->
<!--    <script src="{% static 'drop_calendar/js/main.js' %}"></script>-->
<!--    &lt;!&ndash; The javascript plugin to display page loading on top&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="{% static 'js/plugins/pace.min.js' %}"></script>&ndash;&gt;-->
<!--    &lt;!&ndash; Page specific javascripts&ndash;&gt;-->
<!--    <script type="text/javascript" src="{% static 'drop_calendar/js/plugins/moment.min.js' %}"></script>-->
<!--    <script type="text/javascript" src="{% static 'drop_calendar/js/plugins/jquery-ui.custom.min.js' %}"></script>-->
<!--    <script type="text/javascript" src="{% static 'drop_calendar/js/plugins/fullcalendar.min.js' %}"></script>-->



<script src="{% static 'drop_calendar/js/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'drop_calendar/js/popper.js' %}"></script>
<script src="{% static 'drop_calendar/js/js/bootstrap.min.js' %}"></script>
<script src="{% static 'drop_calendar/js/main.js' %}"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="{% static 'drop_calendar/js/plugins/pace.min.js'%}"></script>
